@model videolandia.Models.GeneroFilme

@{
    ViewData["Title"] = "Editar Gênero de Filme";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<h1>Editar</h1>

<h4>Gênero de Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo oculto para o FilmeId e GeneroId -->
            <input type="hidden" asp-for="FilmeId" />
            <input type="hidden" asp-for="GeneroId" />

            <!-- Campo para selecionar o filme -->
            <div class="form-group">
                <label asp-for="FilmeId" class="control-label">Filme</label>
                <select asp-for="FilmeId" class="form-control" asp-items="ViewBag.FilmeId"></select>
                <span asp-validation-for="FilmeId" class="text-danger"></span>
            </div>

            <!-- Campo para selecionar o gênero -->
            <div class="form-group">
                <label asp-for="GeneroId" class="control-label">Gênero</label>
                <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId"></select>
                <span asp-validation-for="GeneroId" class="text-danger"></span>
            </div>
            <br/>
            <!-- Botão para salvar -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 200px;">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <form asp-action="Index" method="get" class="d-inline">
        <button type="submit" class="btn btn-dark" style="width: 200px;">Voltar à Lista</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
