@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de Senha Esquecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>
