@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
