html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* Aplica a fonte Poppins em todo o site */
body {
    font-family: 'Poppins', sans-serif;
}

/* Aplica a fonte Poppins para os títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

/* Aplica uma fonte diferente para os parágrafos */
p {
    font-family: 'Roboto', sans-serif; /* Exemplo de outra fonte */
}


body {
    margin-bottom: 100px;
    background-color: #ded4d4;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 20%) left, 
                linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 20%) right;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
/* Configuração de tamanho fixo para imagens */
.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-color: #cccccc;
}
.navbar-nav .nav-link {
    color: white !important; /* Define a cor do texto como branco */
}
/* Transição suave nos itens da navbar */
.navbar-nav .nav-item {
    transition: transform 0.3s ease, background-color 0.3s ease;
}
    .navbar-nav .nav-item:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }


